In [1]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [2]:
df=pd.read_csv("D://pandas//covid_toy.csv")

In [7]:
categoric=numeric=df.select_dtypes(include='object')
numerics=df.select_dtypes(include='number')           #dividing columns categoria=cal or numerical

In [9]:
numerics.head()

   age  fever
0   60  103.0
1   27  100.0
2   42  101.0
3   31   98.0
4   65  101.0

In [11]:
categoric.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [13]:
numerics.isnull().sum()#checking missing value

age       0
fever    10
dtype: int64

In [18]:
numerics=numerics.fillna(numerics['fever'].mean())#remove missing value using filna(df name[col].function)

In [26]:
x=categoric
y=numerics

In [56]:
y.isnull().sum()

age      0
fever    0
dtype: int64

In [55]:
x['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)#split data

In [31]:
from sklearn.preprocessing import OrdinalEncoder

In [45]:
oe=OrdinalEncoder()#converted into numerical column 
oe_new=oe.fit_transform(x_train)

In [46]:
x_train_os=pd.DataFrame(oe_new)

In [48]:
x_train_os.head()#we emplemented encoding

     0    1    2    3
0  0.0  0.0  3.0  1.0
1  0.0  0.0  2.0  0.0
2  0.0  0.0  2.0  1.0
3  1.0  0.0  1.0  1.0
4  0.0  0.0  1.0  0.0

In [49]:
x_train_os.describe()

              0          1          2          3
count  80.00000  80.000000  80.000000  80.000000
mean    0.41250   0.400000   1.300000   0.475000
std     0.49539   0.492989   1.118317   0.502525
min     0.00000   0.000000   0.000000   0.000000
25%     0.00000   0.000000   0.000000   0.000000
50%     0.00000   0.000000   1.000000   0.000000
75%     1.00000   1.000000   2.000000   1.000000
max     1.00000   1.000000   3.000000   1.000000

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
ss=StandardScaler()

In [52]:
x_train_new=ss.fit_transform(x_train_os)

In [53]:
x_train_ss=pd.DataFrame(x_train_new)

In [54]:
np.round(x_train_ss.describe(),2)#we implement standrization

           0      1      2      3
count  80.00  80.00  80.00  80.00
mean    0.00  -0.00  -0.00  -0.00
std     1.01   1.01   1.01   1.01
min    -0.84  -0.82  -1.17  -0.95
25%    -0.84  -0.82  -1.17  -0.95
50%    -0.84  -0.82  -0.27  -0.95
75%     1.19   1.22   0.63   1.05
max     1.19   1.22   1.53   1.05

In [58]:
from sklearn.preprocessing import MinMaxScaler

In [59]:
mn=MinMaxScaler()

In [60]:
x_train_mn=mn.fit_transform(x_train_ss)

In [61]:
x_train_mnnew=pd.DataFrame(x_train_mn)

In [63]:
np.round(x_train_mnnew.describe(),2)#aaplying normalization

           0      1      2      3
count  80.00  80.00  80.00  80.00
mean    0.41   0.40   0.43   0.48
std     0.50   0.49   0.37   0.50
min     0.00   0.00   0.00   0.00
25%     0.00   0.00   0.00   0.00
50%     0.00   0.00   0.33   0.00
75%     1.00   1.00   0.67   1.00
max     1.00   1.00   1.00   1.00